*{
margin: 0;
padding: 0;;
box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.grid {
  max-width: 1200px;
  padding: 15px;
  margin: 0 auto;
  padding-top: 100px;
  
}

.grid::after {
content: '';
display: block;
clear: both;
}

.grid .col {
 width: 33.33%;
 height: 300px;
 float: left;
 padding: 15px;
}
.col-content img {
flex-grow: 130**+;
}

.grid .col-content img {

   border-radius: 150px 150px 150px 150px;
  padding: 15px;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;  
  width: 100%;
  height: 100%;
  background: #f50707;
  box-shadow: -15px -15px 10px 5px #000, 15px 15px 10px 5px rgba(202, 12, 12, 0.5);
}

p {
  font-size: 40px;
  text-align: left;
  text-transform: uppercase;  
  width: 100%;
  height: 100%;
}
.menu {
  width: 100%;
  position: fixed;
  background: #0808082a;
}

.menu ul {
  list-style: none;
  display: block;
  max-width: 1200px;
  padding: 0 30px;
  margin: 0 auto;
}

.menu ul li { 
 padding: 15px;
 text-align: center;
 text-transform: uppercase;
 text-decoration: none;
  float: left;
}

.menu ul li a { 
  display: block;
  color: #fff;
  padding: 20px;
  text-decoration: none;
  transition: all 300mss ease-in-out;
}

  .menu ul li a:hover { 
    background: #333;
  
}

.full-page img p {
  max-width: 100%;
  padding: 30px;
  margin: 0 auto;
  padding-top: 73px;
  height: 100vh;
  background: rgb(7, 7, 7);
  max-width: 1200px;
  padding: 15px;
  margin: 0 auto;
}
.full-page-content {
  max-width: 1200px;
  padding: 0 30px;
  margin: 0 auto;

  font-size: 30px;
  text-align: center;
  text-transform: uppercase;  
  width: 100%;
  height: 100%;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}



@media all and (max-width: 400px) {
  .grid .col {
    width: 100%;
  }
}

@media all and (min-width: 400px) and (max-width: 796px) {
  .grid .col {
    width: 50%;
  }
}

@media all and (min-width: 796px) and (max-width: 1024px) {
  .grid .col {
    width: 33.33%;
  }
}

@media all and (min-width: 1024px) {
  .grid .col {
    width: 25%;
  }
}

@media all and (min-width: 1024px) and (max-width: 1920px) {
  .grid .col {
    width: 25%;
  }
}